/* ROOT STUFF */

*{
    font-family: "Iosevka Nerd Font";
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* This function so that you can't select text present in the page. */
* :focus{ 
    outline: none;
}

/* Colorscheme, I've used Catppuccin-Macchiato in this one */
:root{
    --base: #24273a;
    --mantle: #1e2030;
    --surface0: #363a4f;
    --surface1: #494d64;
    --surface2: #5b6078;
    --text: #cad3f5;
    --rosewater: #f4dbd6;
    --lavender: #b7bdf8;
    --red: #ed8796;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --blue: #8aadf4;
    --mauve: #c6a0f6;
    --flamingo: #f0c6c6;
}

/* MAIN STUFF */

body{
    margin-top: 10vw;
    background-color: var(--base);
    text-align: center;
    color: var(--text);
}

/* Our profile pic setup */
img{
    max-width: 7vw;
    height: auto;
    clip-path: circle(50% at 50% 50%);
}

/* This regulates the h3's font and the block background it uses */
h3{
    color: var(--surface2);
    background-color: var(--surface0);
    width: auto;
    max-height: 2vw;
    margin: 0;
    margin-bottom: 1vh;
    padding: 5%;
    font-weight: bold;
    font-size: 2vh;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

/* allows for the title of each ul to change colors
when it's hovered over with the mouse */
ul:hover > .toggled{
    color: var(--surface0);
    background-color: var(--mauve);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

/* Setting up h1 and h2 */
h1, h2{
    margin: 1vh;
    font-size: 3vw;
    padding: 0;
    color: var(--text);
    transition-timing-function: ease-in-out;
}

/* changes the color of <strong> elements on hover */
strong:hover{
    color: var(--mauve);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

/* This regulates the links */
.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 4;
}

/* This regulates the unordered lists in which the links are located */
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 17vw;
    max-width: 19vw;
    height: auto;
    outline-color: var(--mantle);
    background-color: var(--mantle);
    padding: 1vw;
    margin: 1vh;
    line-break: auto;
    overflow: hidden;
}

li{
    font-size: 2vh;
}

/* Color of each individual link */
a{
    color: var(--surface2);
    text-decoration: none;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

/* This makes it so that the links turn bold when hovered or focused with TAB*/
a:hover, a:focus{
    color: var(--text);
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}


/* Regulates our search bar */
form {
    display: inline-block;
    vertical-align: middle;
}

/* Search bar style */
form > input[type="text"] {
    color: var(--surface2);
    background-color: var(--mantle);
    max-height: 3vh;
    min-width: 80vh;
    max-width: 80vh;
    font-size: 2vh;
    padding-left: 1vw;
    margin: 1vw;
    border: 1vh solid var(--mantle);
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    border-radius: 3vw;
    vertical-align: top;
}

/* This fixes some highlighting issues with the search bar */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Footer */
footer p{
    font-size: 2vh;
    color: var(--surface2);
}
